*
.claude/
!.gitignore
!.gitattributes
!LICENSE
!README.md
!.config/
!.config/omarchy/
!.config/omarchy/themes/
!.config/omarchy/themes/ethereal-extended/
!.config/omarchy/themes/ethereal-extended/**
!.config/omarchy/hooks/
!.config/omarchy/hooks/*
.config/omarchy/hooks/*.sample
!.config/hypr/
!.config/hypr/*.conf
!.config/hypr/scripts/
!.config/hypr/scripts/*
!.config/waybar/
!.config/waybar/config.jsonc
!.config/waybar/style.css
!.config/waybar/battery-info.sh
!.config/waybar/clock.sh
!.config/waybar/cycle-brightness.sh
!.config/waybar/cycle-temperature.sh
!.config/waybar/poll-rate-menu.sh
!.config/waybar/poll-rate.sh
!.config/waybar/power-draw.sh
!.config/waybar/screen-brightness.sh
!.config/waybar/screen-temperature.sh
!.mozilla/
!.mozilla/firefox/
!.mozilla/firefox/encrypted_MEO_firefox_profiles.tar.zst
!.mozilla/firefox/encrypted_MEO_firefox_config.tar.zst
!.mozilla/firefox/encrypted_MEO_pack_firefox.sh
!.mozilla/firefox/encrypted_MEO_unpack_firefox.sh
